@font-face {
  font-family: "liturgisch"; 
  src: url("fonts/liturgisch.ttf") format("truetype");
}

@font-face {
  font-family: "Hohenzollern"; 
  src: url("fonts/Hohenzollern.ttf") format("truetype");
}

@font-face {
  font-family: "TypographerTextur"; 
  src: url("fonts/TypographerTextur.otf") format("opentype");
}
